.main_wrapper{
	margin: 50px auto 0;
	padding: 15px;
	max-width: 600px;
	border-radius: 10px;
	background: rgb(123,42,76);
	background: linear-gradient(5deg, rgba(123,42,76,1) 0%, rgba(52,27,66,1) 100%);
}
.container{
	display: flex;
	padding: 20px;
	width: 100%;
	background: #ffffff0d;
	border-radius: 10px;
	@include desktop {
		padding: 0 40px;
	}
}
.currency_wrapper{
	display: flex;
	width: 100%;
	margin-bottom: 10px;
}
.delete_row{
	border: unset;
	cursor: pointer;
	position: relative;
	background: transparent;
	background: rgb(123,42,76);
	background: linear-gradient(270deg, rgb(123, 42, 76) 0%, rgb(247 2 2 / 59%) 100%);
	border-radius: 10px;
	margin: 0 0 0 2px;
	color: $light;
	font-weight: 300;
	padding: 20px;
	width: 20px;
	transition: width 0.5s ease-in-out;
	&:hover{
		width: 80px;
		&::before{
			opacity: 0.9;
			transition: opacity 0.3s ease-in-out;
			transform: translate(-50%, -50%);
		}
	}
	&::before{
		content: '';
		width: 20px;
		height: 100%;
		opacity: 0.4;
		transition: opacity 0.3s ease-in-out;
		background: url(../images/trash-white.png) no-repeat center center;
		@include position(absolute, 50% null null 50%);
		background-size: contain;
		transform: translate(-50%, -50%) ;
	}
}
.currency_row{
	display: flex;
	position: relative;
	align-items: center;
	span{
		color: $light;
		display:  block;
		font-weight: 300;
		&.currency{
			margin-right: 30px;
			font-size: 17px;
			@include mobile {
				@include breakpoint(small) {
					font-size: 19px;
				}
			}
			@include desktop {
				font-size: 19px;
				@include breakpoint(giant) {
					font-size: 21px;
				}
			}
		}
		&.currency_name{
			font-size: 12px;
			@include position(absolute, 100% 10px null null);;
			@include desktop {
				font-size: 14px;
			}
		}
	}

}
.currency_select{
	&.currency_select{
		border: none;
		width: auto;
		min-width: 60px;
		border-radius: unset;
		border-bottom: 1px solid #a88598;
		background-color: transparent;
		&:focus{
			outline: unset;
			border: none;
			border-bottom: 1px solid $light;
	  }
	}

}
.new_currency{
	display: flex;
	margin-top: 15px;
	align-items: center;
	.button_title{
		color: $light;
		font-weight: 300;
		font-size: 12px;
	}
	
}
